@import url(https://fonts.bunny.net/css?family=atma:500);
@import url(https://fonts.bunny.net/css?family=poppins:100,200,300,400,500,600,700,800,900); 
@import url(https://fonts.bunny.net/css?family=abeezee:400|abhaya-libre:800);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-path {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
    }
    .clip-path-triangle {
        clip-path: polygon(102% 4%, 0% 53%,112% 111%);
    }

    .clip-path-triangle2 {
        clip-path: polygon(0% 0%, 101% 50%, 0% 100%)
    }
};
